.ui.header, .description, a, .label::before, .header, label, .button, footer, button, h1, h2, button {
  font-family: Helvetica, sans-serif !important;
  border-radius: 0px !important;
  letter-spacing: 2px !important;
  font-weight: 300 !important;
} 
.segment, .segments {
  border-radius: 0px !important;
}

.title{
  font-family: Helvetica, sans-serif !important;
  border-radius: 0px !important;
  letter-spacing: 2px !important;
  font-weight: 800 !important;
}

label {
  font-family: Helvetica, sans-serif !important;
}

.segment, body, .container, .form {
  border-radius: 0px !important;
}

footer {
  background-color: #5bbd79;
  position: relative;
  margin-top: -200px;
  height: 200px;
  clear: both;
  color: black;
}

h1 {
  font-size: 24px !important
}

.header{
  text-align: center;
  color: black;
}

.SignInTitle {
  position: relative !important;
  color: white !important;
  width: 100% !important;
  background: yellowgreen !important;
  font-size: 80% !important;
  font-weight: 900 !important;
  height: 140px !important;
  margin-top: 0px !important;
  text-align: right !important;
  padding-right: 20% !important;
  padding-top: 30px !important;
}
