.ui.header, .description, a, .label::before, .header, label, .button, footer, button, h1, h2, button {
  font-family: Helvetica, sans-serif !important;
  border-radius: 0px !important;
  letter-spacing: 2px !important;
  font-weight: 300 !important;
} 
.segment, .segments {
  border-radius: 0px !important;
}

.title{
  font-family: Helvetica, sans-serif !important;
  border-radius: 0px !important;
  letter-spacing: 2px !important;
  font-weight: 800 !important;
}

label {
  font-family: Helvetica, sans-serif !important;
}

.segment, body, .container, .form {
  border-radius: 0px !important;
}

footer {
  background-color: #5bbd79;
  position: relative;
  margin-top: -200px;
  height: 200px;
  clear: both;
  color: black;
}

h1 {
  font-size: 30px !important
}

.header{
  text-align: center;
  color: black;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
